body {
  margin: 0;
  background-image: url('fundopc.jpg'); /* fundo do deserto */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#painel {
  width: 280px;
  height: 100%;
  background-color: black;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10;
}

button,
.botao {
  padding: 10px 20px;
  font-size: 16px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

button:hover,
.botao:hover {
  background-color: red;
}

/* Imagem principal central (ajustada ao lado do painel) */

