
body {
  margin: 0;
  color: white;
  font-family: 'Roboto Slab', serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-position: calc(50% + 250px) center;
  background-color: #4b2e1f;
}

#imagem-principal {
  flex: 1;
  background-image: url('imgs/guard_bank_inicio.png');
  background-size: cover; /* Faz preencher certinho */
  background-position: center;
  background-repeat: no-repeat;
  height: 115vh;
}

#painel {
  width: 400px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10;
  background-color: #4b2e1f;
  border: 4px solid #8b5e3c;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.wild-button {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #7a5230;
  color: #fff0c0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  border: 4px solid #4e3422;
  border-radius: 12px;
  box-shadow: inset 0 0 5px #3e2a1a, 2px 2px 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.3s ease;
}

.wild-button:hover {
  background-color: #996239;
  color: #fffbe8;
  box-shadow: 0 0 12px #e3b176, 0 0 18px #a86f45;
  transform: scale(1.05);
}



#gameover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#gameover img {
  height: 100vh;
  width: 160vh;

}



h1,h2{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 32px;
  color: #ffd68a;
  padding-left: 10px;
}


.espaco{
  height: 20px;
}

/* Imagem principal central (ajustada ao lado do painel) */

p{
  padding: 10px;
  font-size: 20px;
}
canvas{
    background-color: grey;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}


